<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>feed page</title>
</head>
<body>
<header th:replace="fragment :: header"></header>
<h1>feeds</h1>
    <div  th:each="follower:${Allfollowing}">
            <p th:text="${followers.firstName + ' ' + followers.lastName}"></p>
            <p th:text="${followers.username}"></p>
            <p  th:text="${followers.bio}"></p>
               </div>
</body>
</html>