<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>feed page</title>
</head>
<body>
<header th:replace="fragment :: header"></header>

<div th:each="users:${allMyFolwing}"></div>
<div >

<!--    <p th:text="${allMyFolwing.firstName}"></p>-->
<!--    <p th:text="${follower.lastName}"></p>-->
<!--    <p th:text="${follower.userName}"></p>-->
<!--    <p th:text="${follower.bio}"></p>-->

    <h1>Posts</h1>
<ul>
<!--    <li th:each="post:${followers.post}" th:text="${post.body}"></li>-->
</ul>
</div>

</body>
</html>