<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>feed page</title>
</head>
<body>
<div th:each="followers:${allMyFolwing}"></div>
<div >
    <p th:text="${follower.firstName}"></p>
    <p th:text="${follower.lastName}"></p>
    <p th:text="${follower.userName}"></p>
    <p th:text="${follower.bio}"></p>

    <P>Posts</P>
<ul>
    <li th:each="post:${follower.posts}" th:text="${post.body}"></li>
</ul>
</div>

</body>
</html>