<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">

    <title>Profile page</title>
</head>
<body>
<header th:replace="fragment :: header"></header>

<div>
    <h2>User Name: <span th:text="${requireduser.username}"></span>
    </h2>
    <h2>First Name: <span th:text="${requireduser.firstName}"></span></h2>
    <h2>Last Name: <span th:text="${requireduser.lastName}"></span></h2>
    <h2>Date Of Birth: <span th:text="${requireduser.dateOfBirth}"></span>
    </h2>
    <h2>Bio: <span th:text="${requireduser.bio}"></span></h2>

</div>

<div>
    <form action="addpost" method="post">
        <input type="textarea" name="body" id="body">
        <button type="submit">Add post</button>
    </form>
</div>


        <div th:each="post:${posts}">
            <p th:text="${post.body}"></p>
            <p th:text="${post.createdAt}"></p>
            <hr>
        </div>

</body>
</html>